<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/9ca08a6a82.js"
      crossorigin="anonymous"></script>
    <title>{{board.name}}</title>
  </head>
  <body class="bg-gray-100">
    <nav class="w-full border-b-2 border-slate-200 absolute fixed">
      <div class="w-full max-w-[1000px] mx-auto py-3 flex justify-between">
        <a href="/home/" class="text-2xl font-semibold text-slate-700">
          open<span class="text-indigo-600"
            >Forum <i class="fa-regular fa-window-restore"></i
          ></span>
        </a>
        <div class="flex gap-2">
          <span class="p-2 text-slate-500"
            ><i class="fa-solid fa-bell"></i
          ></span>
          <span class="text-lg px-3 py-2"
            ><i class="fa-regular fa-user text-indigo-400"></i
          ></span>
          <span class="text-lg px-2 py-2"
            ><a href=""
              ><i
                class="fa-solid fa-arrow-right-from-bracket text-indigo-400"></i></a
          ></span>
        </div>
      </div>
    </nav>
    <section class="w-full pt-16">
      <div class="w-full max-w-[900px] mx-auto grid grid-cols-8 pt-10">
        <div class="col-span-6 border-b-2 py-4">
          <div>
            <p class="text-[1.5rem] font-semibold text-slate-700 mb-5">
              {{board.name}}
            </p>
          </div>
          <p class="text-[1.125rem] font-semibold text-slate-700 mb-5">
            <span>
              <i class="fa-solid fa-file-circle-plus text-indigo-500 mr-2"></i>
            </span>
            New Topic
          </p>
        </div>
        <div class="col-span-2"></div>
      </div>
      <div class="w-full max-w-[900px] mx-auto grid grid-cols-8 py-6">
        <div class="col-span-6 pr-4">
          <div class="py-4 border-b-2 border-slate-200">form here</div>
        </div>
        <div class="col-span-2 px-4">
          <h2 class="text-lg font-semibold text-slate-600">
            <p class="text-[.825rem] text-slate-500">Related Topics</p>
          </h2>
          <div class="mt-5"></div>
        </div>
      </div>
    </section>
  </body>
</html>
