<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/9ca08a6a82.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="w-full bg-gray-100">
      <div class="w-full max-w-[1000px] mx-auto py-4 flex justify-between">
        <h1 class="text-2xl font-semibold text-slate-700">
          open<span class="text-indigo-600"
            >Foram <i class="fa-regular fa-window-restore"></i
          ></span>
        </h1>
        <div class="flex gap-8">
          <a href="{% url 'home'%}" class="px-4 py-2 text-slate-500">Sign In</a>
          <a href="" class="px-4 py-2 bg-indigo-500 text-white rounded-md"
            >Sign Up</a
          >
        </div>
      </div>
    </nav>
    <header class="w-full h-80 bg-gray-100">
      <div
        class="w-full max-w-[1000px] mx-auto flex justify-center items-center h-full">
        <div class="text-center">
          <h2 class="text-4xl leading-tight font-semibold text-slate-600">
            Connect & Share your thoughts
            <span class="text-indigo-500"
              ><i class="fa-solid fa-bars-progress"></i
            ></span>
            <br />on tech and lifestyle.
          </h2>
        </div>
      </div>
    </header>
    <section class="w-full h-64 bg-white py-4">
      <div
        class="w-full max-w-[1000px] mx-auto py-4 flex flex-col items-center gap-5 h-full">
        <div class="flex gap-3">
          <span
            class="border-indigo-200 hover:border-indigo-300 py-2 px-4 border-2 rounded-lg h-fit text-sm text-slate-500"
            >Programming</span
          >
          <span
            class="border-indigo-200 hover:border-indigo-300 py-2 px-4 border-2 rounded-lg h-fit text-sm text-slate-500"
            >Technology</span
          >
          <span
            class="border-indigo-200 hover:border-indigo-300 py-2 px-4 border-2 rounded-lg h-fit text-sm text-slate-500"
            >Productivity</span
          >
          <span
            class="border-indigo-200 hover:border-indigo-300 py-2 px-4 border-2 rounded-lg h-fit text-sm text-slate-500"
            >Hackathons</span
          >
          <span
            class="border-indigo-200 hover:border-indigo-300 py-2 px-4 border-2 rounded-lg h-fit text-sm text-slate-500"
            >Start up</span
          >
        </div>
        <div class="flex gap-3">
          <span
            class="border-indigo-200 hover:border-indigo-300 py-2 px-4 border-2 rounded-lg h-fit text-sm text-slate-500"
            >Job Hunting</span
          >
          <span
            class="border-indigo-200 hover:border-indigo-300 py-2 px-4 border-2 rounded-lg h-fit text-sm text-slate-500"
            >Career</span
          >
          <span
            class="border-indigo-200 hover:border-indigo-300 py-2 px-4 border-2 rounded-lg h-fit text-sm text-slate-500"
            >Health</span
          >
          <span
            class="border-indigo-200 hover:border-indigo-300 py-2 px-4 border-2 rounded-lg h-fit text-sm text-slate-500"
            >Coding</span
          >
        </div>
        <div class="flex gap-3">
          <span
            class="border-indigo-200 hover:border-indigo-300 py-2 px-4 border-2 rounded-lg h-fit text-sm text-slate-500"
            >Tech Events</span
          >
          <span
            class="border-indigo-200 hover:border-indigo-300 py-2 px-4 border-2 rounded-lg h-fit text-sm text-slate-500"
            >Tech Mentoring</span
          >
         
      </div>
    </section>
    <section>
      <div
        class="w-full max-w-[1000px] mx-auto py-4 flex justify-center items-end">
        <p class="text-sm">
          &copy; open<span class="text-indigo-600"
            >Foram <i class="fa-regular fa-window-restore"></i
          ></span>
        </p>
      </div>
    </section>
  </body>
</html>
